# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.build/
dist/
build/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/
wheelhouse/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# mypy
.mypy_cache/

# Environments
.env
.env.*
.venv
env.bak
venv.bak

# AWS Lambda deployment package
my_lambda_function.zip

# MacOS
.DS_Store

# Thumbnails
._*

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Anaconda
anaconda3/
miniconda3/

# AWS CLI
.aws/
